!!! 5
%html
  %head
    %title OLLO
    %link{rel: "shortcut icon", type: "image/x-icon", href: asset_path('touch-icon.png')}
    %link{rel: "apple-touch-icon", href: asset_path('touch-icon.png')}
    %meta{:charset => 'utf-8'}
    %meta{:content => "width=320.1, initial-scale=1.0, user-scalable=0", :name => "viewport"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}
    -# %link{:rel => "icon", :type => "image/vnd.microsoft.icon", :href => asset_path("favicon.ico")}
    = stylesheet_tag('app.css')
    - if settings.production?
      = javascript_tag('https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    :javascript
      window.jQuery || document.write('<script src="#{asset_path('jquery.js')}"><\/script>')
    = javascript_tag('app.js')
  %body
    #fb-root
    #app
    :javascript
      app.start();
      $(window).scrollTop(0);

    :javascript
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
